@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300';
@import 'https://fonts.googleapis.com/css?family=Acme';
@import 'https://fonts.googleapis.com/css?family=Judson';

@global-background: #eff7fc;
@global-link-color: #0039dc;
@global-primary-background: #663a00;
@global-font-weight: 300;
@base-heading-font-family: 'Acme';
@theme_frame-background: #8ccdf0;
@global-link-hover-color: #694300;
@global-color: #053869;
@global-muted-color: #d2d2d2;
@global-line-height: 25px;
@theme_teaser-heading-color: #001e4b;
@theme_teaser-heading-text-transform: none;
@base-code-font-family: Consolas, monospace, serif;
@panel-box-background: #eff7fc;
@global-heading-color: #444444;