/* lefrogfaq faq layout */
.lefrogfaq.defaulticon span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/ui-icons_3d3d3d_256x240.png');
}
.lefrogfaq.defaulticon .accordionfaqheader:hover span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/ui-icons_3d3d3d_256x240.png');
}
.lefrogfaq.defaulticon .accordionfaqheader.selected span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/ui-icons_3d3d3d_256x240.png');
}
.lefrogfaq.headerbackground.defaulticon span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/ui-icons_ffffff_256x240.png');
}
.lefrogfaq.headerbackground.defaulticon .accordionfaqheader:hover span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/ui-icons_ffffff_256x240.png');
}
.lefrogfaq.headerbackground.defaulticon .accordionfaqheader.selected span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/ui-icons_ffffff_256x240.png');
\}