/* lightnessfaq faq layout */
.lightnessfaq.arrow .accordionfaqheader:hover span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/collapsed-black.gif');
}
.lightnessfaq.arrow .accordionfaqheader.selected span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/expanded-black.gif');
}
.lightnessfaq.defaulticon span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/ui-icons_ef8c08_256x240.png');
}