/* sunnyfaq faq layout */
.sunnyfaq.arrow .accordionfaqheader:hover span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/collapsed-black.gif');
}
.sunnyfaq.arrow .accordionfaqheader.selected span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/expanded-black.gif');
}
.sunnyfaq.defaulticon .accordionfaqheader:hover span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/ui-icons_222222_256x240.png');
}
.sunnyfaq.defaulticon span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/ui-icons_3d3d3d_256x240.png');
}
.sunnyfaq.headerbackground.defaulticon span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/ui-icons_3d3d3d_256x240.png');
}
.sunnyfaq.defaulticon .accordionfaqheader:hover span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/ui-icons_bd7b00_256x240.png');
}
.sunnyfaq.defaulticon .accordionfaqheader.selected span.accordionfaqicon,
.sunnyfaq.headerbackground.defaulticon .accordionfaqheader.selected span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/ui-icons_eb990f_256x240.png');
}