/* trontasticfaq faq layout */
.trontasticfaq.arrow .accordionfaqheader:hover span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/collapsed-black.gif');
}
.trontasticfaq.arrow .accordionfaqheader.selected span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/expanded-black.gif');
}
.trontasticfaq.defaulticon span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/ui-icons_b8ec79_256x240.png');
}
.trontasticfaq.defaulticon .accordionfaqheader:hover span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/ui-icons_b8ec79_256x240.png');
}
.trontasticfaq.defaulticon .accordionfaqheader.selected span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/ui-icons_b8ec79_256x240.png');
}
.trontasticfaq.headerbackground.defaulticon .accordionfaqheader.selected span.accordionfaqicon
{
	background-image: url('/modules/mod_accordionfaq/images/ui-icons_ffffff_256x240.png');
}