 {
	"name": "Verso biblico",
	"elements":  {
		"f8737296-e6b8-4c64-ac0b-9d875c6c74b9":  {
			"name": "Testo versetto",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}